@tailwind preflight;

@tailwind components;

:root {
	--backgroundColor: #fff;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background: var(--backgroundColor);
}

@tailwind utilities;
