.Tile {
	--tileDepth: 30px;
	--wallDepth: 4px;
	height: calc(var(--tileDepth) + var(--wallDepth));
	width: calc(var(--tileDepth) + var(--wallDepth));
}

.Tile--withRightWall {
	width: calc(var(--tileDepth) + (var(--wallDepth) * 2));
}

.Tile--withBottomWall {
	height: calc(var(--tileDepth) + (var(--wallDepth) * 2));
}
