/*	TODO: Find a way to get Tailwind @apply for utilities to work.
	This will probably require going away from importing CSS as a module. */

.Tile {
	--tileDepth: 30px;
	--wallDepth: 4px;
	background: #f1f5f8; /* "bg-grey-lighter" utility in Tailwind */
	height: calc(var(--tileDepth) + var(--wallDepth));
	position: relative;
	width: calc(var(--tileDepth) + var(--wallDepth));
}

.Tile.is-active {
	background-color: #3490dc; /* "bg-blue-lighter" utility in Tailwind */
}

.Tile.is-hasRightWall {
	width: calc(var(--tileDepth) + (var(--wallDepth) * 2));
}

.Tile.is-hasBottomWall {
	height: calc(var(--tileDepth) + (var(--wallDepth) * 2));
}

.Tile-wall {
	background: #fff; /* "bg-white" utility in Tailwind */
	cursor: pointer;
	position: absolute;
}

.Tile-wall.is-active {
	background: #1c3d5a; /* "bg-blue-darker" utility in Tailwind */
	z-index: 10; /* "z-10" utility in Tailwind */
}

.Tile-wall--top,
.Tile-wall--bottom {
	height: var(--wallDepth);
	left: 0;
	right: calc(var(--wallDepth) * -1);
}

.Tile-wall--top {
	top: 0;
}

.Tile-wall--bottom {
	bottom: 0;
}

.Tile-wall--left,
.Tile-wall--right {
	bottom: calc(var(--wallDepth) * -1);
	top: 0;
	width: var(--wallDepth);
}

.Tile-wall--left {
	left: 0;
}

.Tile-wall--right {
	right: 0;
}
